body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.75em;
	line-height:1.5em;
}
#container {
	width:980px;
	margin:0 auto;
}
#header {
	width:978px;
	border:1px solid #d7d7d7;
	background:#f1f0f0;
}
.whiteinner {
	width:100%;
	border:1px solid #fff;
}
#bumpboxlogo {
	background:url(images/bumpboxlogo.html) no-repeat left top;
	width:269px;
	height:94px;
	float:left;
}

#logo{
	display:block;
	width:269px;
	height:94px;
}
	
#slogan {
	height:64px;
	padding:20px 30px 10px 10px;
	font-size:1.4em;
	color:#313232;
	float:right;
	letter-spacing:-1px;
	line-height:1.5em;
}
.clear {
	line-height:0px;
	height:0px;
	clear:both;
	font-size:0em;
}
.fat {
	font-weight:bold;
	letter-spacing:-1px;
}
#left {
	width:360px;
	float:left;
	margin:30px 20px 0 0;
	background:#f1f0f0;
	border:1px solid #d7d7d7;
	height:320px;
}
#left p, #right p {
	color:#666;
}
.bl {
	color:#36aae1;
}
.p10 {
	padding:10px;
}
#right{
	float:left;
	width:594px;
	margin:30px 0 0 0;
	background:#f1f0f0;
	border:1px solid #d7d7d7;

}


h2 {
	font-weight:bold;
	font-size:1.4em;
	margin:0;
	padding:0;
	margin:0 0 20px 0;
}

ul{
margin:0;
padding:0;
float:left;
list-style:none;
}
ul li{
float:left;
margin:0 3px 0 0;
list-style:none;
padding:0;
}
a img{
border:none;
}

a{
	color:#CC3333;
	text-decoration:none;
}

#footer{
	background:#f1f0f0;
	border:1px solid #d7d7d7;
	}